@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
}

html {
  scroll-behavior: auto !important; /* Force instant scroll */
}

/* Hide scrollbar for Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for IE / old Edge */
body {
  -ms-overflow-style: none;
}

.fade-in-video {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}